body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Отправляем видео на задний план */
  }

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    transition: opacity 0.3s ease;
}

.container {
    text-align: center;
    color: #251e1e;
    z-index: 2;
}

h1 {
    font-size: 5rem;
    animation: fadeIn 2s ease-in-out;
}

p {
    font-size: 1.5rem;
    animation: fadeIn 3s ease-in-out;
}

button {
    margin-top: 20px;
    padding: 30px 50px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #ff6f61;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #ff3b2f;
    transform: scale(1.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background: rgba(213, 82, 152, 0.9);
    padding: 100px;
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 600px;
    max-width: 80%;
}

.balloon {
    width: 200px;
    height: 260px;
    background: radial-gradient(circle at 30% 30%, #ff6f61, #ff3b2f);
    border-radius: 50%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease;
    animation: float 4s ease-in-out infinite;
    margin: 0 auto;
}

.balloon:hover {
    transform: scale(1.1);
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.gift-card {
    margin-top: 20px;
    background: rgba(213, 82, 152, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out;
}

.gift-card img {
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.gift-card p {
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: 10px;
}

#popAnotherButton, #getGiftsButton {
    margin-top: 20px;
}

.hidden {
    display: none;
}

/* Конфетти */
.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #ff6f61;
    border-radius: 50%;
    animation: confetti-fall 8s linear infinite;
}

@keyframes confetti-fall {
    0% {
        transform: translateY(-100vh) rotate(0deg);
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
    }
}